body {
    background-color: hsl(235, 52%, 92%);
    font-family: 'Courier New', Courier, monospace;
}
h1 {
     background-image: 
          linear-gradient(
            rgba(255, 187, 0, 0.76),
            rgba(255, 187, 0, 0.76)
          ),
          url('picture.jpg');
    color:hsl(234, 61%, 17%);
    text-align: center;
    padding: 70px;
    font-size: 48px;


  }

h2, p {
    text-align: center;
}


h2, p, table {
    color: hsl(234, 61%, 17%);
  }

 table, th {
    border: 1px solid black;
    border-collapse: collapse;
  }

  th {
      background-color: hsl(234, 61%, 17%);
      color:rgba(255, 208, 0, 0.8);
  }

  tbody tr:nth-child(even) {
    background: hsl(240, 26%, 70%);
  }

  tbody tr:nth-child(odd) {
    background: hsl(240, 5%, 70%);
  }

  table {
      width: 800px;
      position:relative;
      left: 250px;
  }